APP_ENV=test
#
EXCEPTION_TELEGRAM_TOKEN=
EXCEPTION_TELEGRAM_CHAT_ID=
ERROR_TELEGRAM_TOKEN=${EXCEPTION_TELEGRAM_TOKEN}
ERROR_TELEGRAM_CHAT_ID=${EXCEPTION_TELEGRAM_CHAT_ID}
WARNING_TELEGRAM_TOKEN=${EXCEPTION_TELEGRAM_TOKEN}
WARNING_TELEGRAM_CHAT_ID=${EXCEPTION_TELEGRAM_CHAT_ID}
#
EXCEPTION_EMAIL=
ERROR_EMAIL=${EXCEPTION_EMAIL}
WARNING_EMAIL=${EXCEPTION_EMAIL}
TESTS_EMAIL=${EXCEPTION_EMAIL}

# ASYNC EVENTS
# Enable async event dispatch for AsyncSubscriberInterface subscribers [Y|N]
ASYNC_EVENTS_ENABLED=N
# Messenger transport DSN [database://default | redis://127.0.0.1:6379/messages | in-memory://]
MESSENGER_TRANSPORT_DSN=database://default
